GreedyAlgorithm/Service References/GmapService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5875/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRUDImoestudante" />
  <xs:import schemaLocation="http://localhost:5875/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CRUDImoestudante.App_Data" />
  <xs:element name="GetUsersData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetUsersDataResult" nillable="true" type="q1:ArrayOfMultiUtilizadorRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="SearchUserIdResult" nillable="true" type="q2:UtilizadorRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="utilizador" nillable="true" type="q3:UtilizadorRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetUserTypesResult" nillable="true" type="q4:ArrayOfTipoUserRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetUserTypeResult" nillable="true" type="q5:UtilizadorRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDatePais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="paises" nillable="true" type="q6:ArrayOfPaisRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDatePaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpDatePaisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetPaisesResult" nillable="true" type="q7:ArrayOfPaisRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CRUDImoestudante.App_Data" minOccurs="0" name="GetContractDataResult" nillable="true" type="q8:ArrayOfaluguer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContractId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContractIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CRUDImoestudante.App_Data" minOccurs="0" name="SearchContractIdResult" nillable="true" type="q9:aluguer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addcontract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CRUDImoestudante.App_Data" minOccurs="0" name="aluguerData" nillable="true" type="q10:aluguer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddcontractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddcontractResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetHouseDataResult" nillable="true" type="q11:ArrayOfAlojamentoRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchHouseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchHouseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CRUDImoestudante.App_Data" minOccurs="0" name="SearchHouseIdResult" nillable="true" type="q12:alojamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CRUDImoestudante.App_Data" minOccurs="0" name="aluguerData" nillable="true" type="q13:alojamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComodData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComodDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetComodDataResult" nillable="true" type="q14:ArrayOfcomodidadeRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComodDataAlojID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComodDataAlojIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="GetComodDataAlojIDResult" nillable="true" type="q15:ArrayOfcomodidadeRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveComod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="comodidadeData" nillable="true" type="q16:comodidadeRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveComodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveComodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComodList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="aluguerData" nillable="true" type="q17:ArrayOfcomodidadeRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddComodListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="comod" nillable="true" type="q18:comodidadeRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddComodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacePublicHabitacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="alojamento" nillable="true" type="q19:AlojamentoRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacePublicHabitacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FacePublicHabitacaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwittHabitacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CRUDImoestudante" minOccurs="0" name="alojamento" nillable="true" type="q20:AlojamentoRespostaPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwittHabitacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TwittHabitacaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>